<!-- Main container -->
<nav class="navbar">
  <!-- Left side -->

  <div class="navbar-left">
    <div class="navbar-item">
      <p class="subtitle is-5">
        <strong>Find</strong> Mentors
      </p>
    </div>
    <div class="navbar-item">
      <p class="control is-grouped">
        <input class="input" type="text" placeholder="Look now!">
        <button class="button">
          Search
        </button>
      </p>
    </div>
  </div>

  <!-- Right side -->
  <div class="navbar-right">
      <p class="control">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button is-success" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "button is-success" %>
       <% end %> 
      </p>
  </div>
</nav>